In [3]:
import pandas as pd

In [8]:
my_data = {'a': [1, 2, 3],
          'b': ['apples', 'oranges', 'bananas']}
my_df = pd.DataFrame(my_data)
my_df.head(1)

   a       b
0  1  apples

In [9]:
my_df.tail(1)

   a        b
2  3  bananas

In [10]:
my_data2 = [{'a': 1, 'b': 'apples'},
            {'a': 2, 'b': 'oranges'},
            {'a': 3, 'b': 'bananas'}]
my_df2 = pd.DataFrame(my_data2)
my_df2.head(1)

   a       b
0  1  apples

In [11]:
my_df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [12]:
my_df['b']

0     apples
1    oranges
2    bananas
Name: b, dtype: object

In [13]:
my_df.loc[0]

a         1
b    apples
Name: 0, dtype: object

In [14]:
my_df.iloc[0]

a         1
b    apples
Name: 0, dtype: object